



    <h1>Author Details</h1>
    <p>ID: {{ author.id }}</p>
    <p>Username: {{ author.username }}</p>
    <p>Email: {{ author.email }}</p>
    <p>Number of Books: {{ author.nb_books }}</p>
    <img src = {{author.picture}}></img>
